body{
  background-image: url("images/background_admin.png");
  background-size: cover;
  height: 100vh;
}
#lista_clienti{
  margin-left: 700px;
  margin-top: -650px;
  background-color: rgba(0, 0, 255, 70%);
  font-size: 30px;
  width: 700px;
  border-radius: 10%;
  color: white;
}

#title{
  font-size: 40px;
}

#flight{
  margin-top: 100px;
  color: white;
  font-size: 20px;
}

#header{
  color: white;
}
