<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel = "stylesheet" href="register.component.css">
</head>
<body>
<div class="container">
  <h1>Register</h1>
  <form>

      <label for="username">Email</label><br>
      <input type="text" [(ngModel)]="user.email" id="username" name="username"><br>

      <label for="password">Name</label><br>
      <input type="text" [(ngModel)]="user.name" id="name" name="name"><br>

      <label for="password">Password</label><br>
      <input type="password" [(ngModel)]="user.password" id="password" name="password"><br>

    <div>
      <label for="password">Password again</label><br>
      <input type="password"  id="repeatPassword" name="repeatPassword"><br>
    </div>

    <button type="submit" (click)="createUser()">Register now</button>
    <p>You have an account already?</p>
    <h3><a href="login">Click here to login</a></h3>
  </form>
</div>

</body>
</html>

