<!DOCTYPE html>
<html>
<head>
  <title>Recover Password</title>
  <link rel = "stylesheet" href="password.component.css">
</head>
<body>
<div class="container">
  <h1>Recover password</h1>
  <form>
    <label>To recover your password you need to introduce your email associate with Explore account and you will receive an email with your password.<br></label>
    <label for="username">Username</label><br>
    <input type="text" [(ngModel)]="user.email" id="username" name="username"><br>

    <button type="submit" (click)="sendEmail(user.email)">Send email</button>
    <br><label>For security reasons, you can change the password after you find the oldest one in the email.</label>
    <h1>Change Password</h1>
    <label for="username">Username</label><br>
    <input type="text" [(ngModel)]="user.email" id="username1" name="username"><br>

    <label for="oldpassword">Actual password</label><br>
    <input type="password" [(ngModel)]="oldPassword"  id="oldpassword" name="oldpassword"><br>

    <label for="newpassword">New password</label><br>
    <input type="password" [(ngModel)]="newPassword" id="newpassword" name="newpassword"><br>

    <button type="submit" (click)="updatePassword(user.email, oldPassword, newPassword)">Update password</button>

  </form>
</div>

</body>
</html>
